{% extends 'weather/base.html' %}
{% load static %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'weather/css/weather.css' %}">
    {% endblock styles %}

    {% block title %} Weather {% endblock title %}

    {% block body %}
  <div class="text-center">
      <form method="POST">
          {% csrf_token %}
                  {{ form.name }}
                  <button type="submit" class="button is-info">
                      Add City
                  </button>
      </form>
  </div>

{% for city_weather in weather_data %}

      <div class="card text-center col-lg-1 col-sm-12 col-md-12">
        <img class="card-img-top" src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">{{ city_weather.temperature }}°</h3>
            <h5 class="card-title">{{ city_weather.city }}</h5><br>
            <p class="card-text">{{ city_weather.description }}</p>
        </div>
      </div>


{% endfor %}
{% endblock body %}
</html>
